        p {
            color: #818181;
        }

        .navbar {
            background-color: rgb(255, 255, 255);
            margin-top: 20px;
            /* Adjust the margin from the header */
            border-radius: 10px;
        }

        #navbarNav .navbar-nav .nav-link {
            color: #24231D;
            font-weight: 500;
            margin-left: 17px;
            margin-right: 17px;
        }

        #main-bg-image-session input,
        select {
            min-height: 55px;
        }

        .custom-success-btn {
            background-color: #4baf47;
            text-align: center;
            border-radius: 5px;
            color: rgb(255 255 255) !important;
            font-weight: 300;
            padding-left: 15px;
            padding-right: 15px;
        }

        .contact-with-us-form {
            background-color: white;
            border-radius: 12px;
        }

        .contact-with-us-form input {
            background-color: #f5f5f5;
        }

        .contact-with-us-form h5 {
            color: #1d8919;
        }

        .contact-with-us-form button {
            width: 100%;
        }

        .text-green {
            color: #4BAF47;
        }

        .navbar-toggler {
            color: #24231D;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            color: white;
            padding-top: 35px;
            /* //background-color: #f8f9fa;  */
        }

        .left-icons,
        .right-icons {
            display: flex;
            gap: 10px;
            /* Adjust the gap between icons */
        }

        /* Add more styling as needed for your icons */

        .header-icon {
            /* width: 30px; */
            height: 10px;
            margin-top: 20px;
        }

        #main-bg-image-session {
            /* Replace 'your-background-image.jpg' with your image path */
            background-size: cover;
            background-position: center;
            /* background-attachment: fixed; */
            min-height: 730px;
        }

        #process-step-3 .main-step-div {
            background-image: url('../images/process_step_3_bg.jpg');
            /* Replace 'your-background-image.jpg' with your image path */
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

        #process-step-3 .steps-div {
            position: relative;
            display: inline-block;
        }

        #process-step-3 .steps-div img {
            padding: 36px;
            background: white;
            border-radius: 50%;
            width: 100%;
            /* box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.1); */
            /* Ensure the image takes the full width of its container */
            border-radius: 50%;
            /* border-radius: 50%;background-color: white ;padding: 25px;position: relative; */
        }

        #process-step-3 .steps-div p {
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            font-size: 20px;
            color: white;
            border-radius: 50%;
            padding: 9px;
            background-color: #4BAF47;
            margin-top: 10px;
            margin-right: 10px;
        }

        #service-section .service-main-div {
            background-image: url('../images/service_bg.jpg');
            /* Replace 'your-background-image.jpg' with your image path */
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

        .card-border {
            border-radius: 25px;
        }

        .card {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        footer {
            background-color: #24231D;
            color: white;
        }

        footer ul li a {
            color: white;
        }

        .circular-icon {
            font-size: 15px;
            color: #333;
            /* Adjust color as needed */
            border-radius: 50%;
            padding: 5px;
            background-color: #fff;
            /* Add a background color if desired */
        }

        @media screen and (max-width: 768px) {
            .row span {
                font-size: 16px;
                /* Modify this value to suit your design */
            }
        }

        .owl-carousel .owl-nav {
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            width: 100%;
        }

        .owl-next,
        .owl-prev {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            color: white;
        }

        .owl-next {
            right: 20px;
            /* Adjust as needed */
        }

        .owl-prev {
            left: 20px;
            /* Adjust as needed */
        }

        body {
            font-family: 'DM Sans', sans-serif;
        }

        .left-icons .header-icon i {
            font-size: 12px;
        }

        .right-icons .header-icon i {
            font-size: 12px;
        }

        .left-icons .header-icon {
            font-size: 12px;
        }

        .pad-right {
            padding-left: 45px;
        }

        .service-main-div p {
            font-size: 12.7px;
        }

        .vertical-line {
            border-left: 2px solid #646464;
            height: 30px;
            margin-left: 20px;
        }

        /* For smaller screens */

        @media screen and (max-width: 767px) {
            .responsive-image {
                max-width: 100%;
                /* Ensure the image never exceeds its container width */
                height: auto;
                /* Maintain the image's aspect ratio */
                display: block;
                /* Remove extra space under the image */
                margin-left: auto;
                /* Center the image horizontally */
                margin-right: auto;
                /* Center the image horizontally */
            }
        }

        #tickAnimation {
            position: absolute;
            top: 7px;
            right: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #36b937;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .form.submitting #tickAnimation {
            opacity: 1;
        }

        #tickAnimation svg {
            width: 50px;
            height: 50px;
            fill: white;
            transform: scale(0);
            transition: transform 0.3s ease-in-out;
        }

        .form.submitting #tickAnimation svg {
            transform: scale(1);
        }

        #first-slider {
            margin-top: 88px;
        }

        #process-step-3 {
            margin-top: 88px;
        }

        @media only screen and (max-width: 767px) {
            .header {
                padding-top: 0px;
            }
            /* Add more styles as needed */
        }

        /* Style for the dropdown-open class */

        .dropdown-open {
            border-color: #007bff;
            /* Change the color to your preferred style */
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            /* Change the shadow as needed */
        }

        /* Style for the dropdown icon */

        .dropdown-icon {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            pointer-events: none;
        }

        /* Basic styling to ensure proper layout */

        .flatpickr-month {
            margin-top: 9px;
        }

        .flatpickr-current-month {
            margin-top: -20px;
        }

        .mbl-link {
            text-decoration: none;
        }

        @keyframes bounce {
            0%,
            20%,
            50%,
            80%,
            100% {
                transform: translateY(0);
            }
            40% {
                transform: translateY(-20px);
            }
            60% {
                transform: translateY(-10px);
            }
        }

        .btn-call-us {
            animation: bounce 2s infinite cubic-bezier(0.4, 0, 0.2, 1);
            /* Adjust the duration and cubic-bezier values as needed */
            width: 130px;
        }

        .btn-call-us i {
            color: white;
        }

        @media (min-width: 992px) {
            .btn-call-us {
                margin-left: -100px;
                /* Adjust the width as needed */
            }
        }

        @media (max-width: 992px) {
            .btn-call-us {
                margin-left: auto;
                margin-right: auto;
            }
        }

        /* Add the necessary styles to position the WhatsApp button */

        .whatsapp-button {
            position: fixed;
            bottom: 35px;
            right: 35px;
            z-index: 1000;
            /* Ensure it appears above other elements on the page */
        }

        .whatsapp-button img {
            width: 50px;
            /* Adjust the width as needed */
            height: auto;
            /* Maintain aspect ratio */
            border-radius: 50%;
            /* Make it circular if the icon is square */
            border: 2px solid #25d366;
            /* Add a border to the icon */
            background-color: #25d366;
            /* Background color of the button */
            padding: 5px;
            /* Adjust the padding as needed */
        }

        .custom-placeholder-container {
            position: relative;
        }

        .custom-placeholder {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            pointer-events: none;
            /* Allow interaction with the input behind it */
            color: #888;
            /* Set the color of the custom placeholder */
        }